div {
    margin: 40px;
    width: 500px;
    height: 60px;
    border: 2px solid #4c4194;
}

.overflow-visible {

    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-scroll {
    overflow: scroll;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
    background: yellow;
}
.display-inline:after {
    content: " chandach";
}


h2 {
    color: #1d70ee;
}

section {
    border: 2px solid #9197ee;
    margin: 34px;
}
