.color-keywords {
    background-color: cornflowerblue;
}
.hex-container {
    border: 2px dashed #eea019;

}
.hex-heading {
    color: #4c4194;
}
.hex-container p:nth-child(2) {
    color: #ee2031;
}
.hex-container p:nth-child(3):hover {
    color: #ee9518;
    animation-name: changebg;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}
@keyframes changebg {
    0% {
        color: #3d1dee;
        font-size: 14pt;
    }

    25% {
        color: #21ee28;
        font-size: 23pt;
    }

    100% {
        color: #4c4194;
        font-size: 12pt;
    }
}
.rgb-container {
    border: 2px dashed #9842ee;
}
.rgb-container p:nth-of-type(1) {
    color: rgb(255,45,0);
}
.rgb-container P:nth-of-type(2) {
    color: rgb(255,122,0);
}
body > div {
    margin: 4px;
}
.hsl-container {
    border: 2px dashed hsl(120, 100%, 50%);
}

.hsl-container p:nth-of-type(1) {
    color: hsl(225, 68%, 70%);
}
.alpha-container {
    border: 2px dotted #3d1dee;
    height: 100%
}
.alpha-container > h2 {
    background-color: rgba(122, 233, 23, 0.3);
}
.alpha-container > h2 + p {
    background-color: rgba(233, 45, 0, 0.3);
    width: 800px;
    height: 100px;
    position: relative;

}
.alpha-container > h2 + p + p {
    background-color: rgba(23, 255, 122, 0.3);
    width: 800px;
    height: 100px;
    position: relative;
    bottom: 75px;
}
.opacity-container {
    border: 2px dotted #ee2031;
}
.opacity-container > h2 {
    color: #45d7ed;
}
.opacity-container > h2 + p {
    background-color: rgb(200, 122, 45);
    opacity: 0.4;
}

