/*
 Using absolute units
 */
p {
    border: 2px solid #ee9b2d;
    background-color: lightblue;
    color: black;
}
p:nth-child(2) {
    font-size: 19px;
    width: 200px;
}
p:nth-child(3) {
    font-size: 23px;
    width: 300px;
}
h2:nth-child(1) {
    color: crimson;
}

p:nth-child(4) {
    font-size: 2.3vw;
}
.relative-container {
    width: 70%;
}

.relative-container p:nth-child(1) {
    font-size: 1.3em;
}
.unitless-container {
    margin: 0;
    padding: 0;
}
.unitless-container .unitless-text1 {
    width: 1000px;
    line-height: 2.1;
}
.unitless-container .spinner {
    background-color: #387EF5;
    color: white;
    width: 100px;
    height: 100px;
    border: 4px dashed crimson;
    border-radius: 50%;
    line-height: 4.3;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.unitless-container .spinner:hover {
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}
