.importance-paragraph {
    background-color: #9197ee;
    color: #fff !important;
    font-family: "Bell MT";
}
#second {
    background-color: #ee9b2d;
    color: #000;
    font-size: 17pt;
}
p{
    padding: 4px;
    font-size: 14pt;
    font-family: Harrington !important;
}
.importance-container {
   border: 3px solid;
}

/* Specificity 0003 */
div div p {
    color: #ee2031;
}

/* Specificity:  0021 */
div .specificity-content .specificity-text {
    color: #ee9b2d;
}

/* Specificity: 0111 */
#specificityContainer div .specificity-text {
    color: #9842ee;
}

/* 0210 */
#specificityContainer #specificityContent .specificity-text {
    color: #1d70ee;
}

/* Specificity: 0010 */
.specificity-container {
    border: 3px solid crimson;
}

/* Specificity: 0100 */
#specificityContainer {
    border: 2px solid #ee811f;
    position: relative;
    top: 24px;
}

/* Specificity: 0101 */
body #specificityContainer {
    position: relative;
    top: 4px;
}

/* source order specificity: 0010 */
.source-order-container {
    border: 2px solid #3d1dee;
    position: relative;
    top: 8px;
}

/* source order specificity: 0010 same as above. This wins because of source order*/
.source-order-container {
    border: 2px solid #4c4194;

}

/* specificity: 0011 */
.source-order-container p {
    color: #387EF5;
    background: #d5d8f9;
}

/* specificity: 0010 */
.source-order-content {
    text-decoration: underline;
    color: #ee2031;
}
